@import "../../responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Poppins&display=swap');

.login-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .left-login-section{
        flex: 3;
        .login-error{
            color: red;
            font-size: 20px;
            font-family: "Alegreya", serif;
        }
        @include sm{
            display: flex;
            justify-content: center;
        }
    }
    .right-login-section{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
        flex: 2;
        background-color: antiquewhite;
        img{
            position: absolute;
            right: 0px;
            width: 110%;
        }
        @include sm{
            display: none;
        }
    }
}